#virtual env
venv/
__pycache__/
db.sqlite3
*.pyc
*.pyo
*.pyd
.env
*.log
.vscode/
.DS_Store

Include/
Lib/
Scripts/
pyvenv.cfg

#api ignore
picaso_api/__pycache__/
picaso_api/migrations/

#web ignore
picaso_web/node_modules/
picaso_web/build/
picaso_web/.next/
